@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

.icon_head,
.computer_ok,
.computer_ok_2,
.icon_footer,
.blacklist,
.snippets,
.sneak,
.google,
.ibm,
.microsoft,
.hewlett,
.vector,
.facebook,
.twitter,
.insta {
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 100px;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Bai Jamjuree";
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: hsl(201, 11%, 66%);
}

h1 {
  color: hsl(210, 10%, 33%);
  font-weight: 600;
  font-size: 1.8em;
}
h3 {
  color: hsl(210, 10%, 33%);
  font-weight: 600;
  font-size: 1.8em;
  margin-bottom: 1.2rem;
}

button {
  width: 18rem;
  color: white;
  height: 3rem;
  border-radius: 50px;
}
.b1 {
  background-color: hsl(171, 66%, 44%);
  border: hsl(171, 66%, 44%);
  border-bottom: 4px solid hsl(171, 63%, 41%);
  box-shadow: 1px 1px 5px hsl(171, 66%, 44%);
  transition: all 300ms;
}

.b1:hover {
  background-color: hsl(171, 66%, 44%);
  border: hsl(171, 66%, 44%);
  box-shadow: 1px 1px 5px hsl(171, 66%, 44%);
  border-bottom: 2px solid hsl(171, 63%, 41%);
  cursor: pointer;
}

.b2 {
  background-color: hsl(233, 100%, 69%);
  border: hsl(233, 100%, 69%);
  border-bottom: 4px solid hsl(233, 55%, 55%);
  box-shadow: 1px 1px 5px hsl(233, 100%, 69%);
  transition: all 300ms;
}

.b2:hover {
  background-color: hsl(233, 100%, 69%);
  border: hsl(233, 100%, 69%);
  border-bottom: 2px solid hsl(233, 55%, 55%);
  box-shadow: 1px 1px 5px hsl(233, 100%, 69%);
  cursor: pointer;
}

.bg-image {
  background-image: url(./images/bg-header-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
  width: 100vw;
  height: 600px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 5rem 2rem;
}

section > div:first-of-type {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* Moe/Harold - start */

p {
  margin-bottom: 1.5rem;
}

section,
header {
  margin-bottom: 5rem;
}

section img {
  width: 80%;
  margin: 2rem 0;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.icons img {
  max-width: 150px;
}

.features img {
  max-width: 50px;
}

/* Moe/Harold - end */

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

.features {
  padding-top: 3rem;
  padding-bottom: 3rem;
  gap: 2rem;
}

.features,
.features div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon_head {
  background-image: url(./images/logo.svg);
}

.computer_ok {
  background-image: url(./images/image-computer.png);
  width: 300px;
  height: 250px;
}
.computer_ok_2 {
  background-image: url(./images/image-devices.png);
  width: 300px;
  height: 200px;
}

.blacklist {
  background-image: url(./images/icon-blacklist.svg);
  width: 30px;
  height: 30px;
}
.snippets {
  background-image: url(./images/icon-text.svg);
  width: 30px;
  height: 30px;
}
.sneak {
  background-image: url(./images/icon-preview.svg);
  width: 30px;
  height: 30px;
}
.google {
  background-image: url(./images/logo-google.png);
}
.ibm {
  background-image: url(./images/logo-ibm.png);
}
.microsoft {
  background-image: url(./images/logo-microsoft.png);
}
.hewlett {
  background-image: url(./images/logo-hp.png);
}
.vector {
  background-image: url(./images/logo-vector-graphics.png);
}
.icon_footer {
  background-image: url(./images/logo.svg);
  width: 60px;
  height: 60px;
}

.facebook {
  background-image: url(./images/icon-facebook.svg);
  width: 30px;
  height: 30px;
}
.twitter {
  background-image: url(./images/icon-twitter.svg);
  width: 30px;
  height: 30px;
}
.insta {
  background-image: url(./images/icon-instagram.svg);
  width: 30px;
  height: 30px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 2rem;
  text-align: center;
}
footer {
  background-color: hsl(171, 66%, 44%, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  padding: 2rem;
  gap: 2rem;
}
footer div {
  display: flex;
  justify-content: center;
  color: hsl(210, 10%, 33%);
  font-weight: 600;
}

/* Desktop  */
@media screen and (min-width: 986px) {
  .bg-image {
    background-image: url(./images/bg-header-desktop.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0px;
    width: 100vw;
    height: 600px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
  }
  .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
  }
  .track {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left !important;
    justify-content: space-between;
  }
  .track > div:first-of-type img {
    position: relative;
    left: -60px;
  }

  .track > div:nth-of-type(2) > div {
    margin-bottom: 3rem;
  }

  section img {
    width: 90%;
  }
}

/* Tablets */
/* @media only screen and (min-width: 370px) {
  header {
    background: url(./images/bg-header-desktop.png);

    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
  }

  .btn {
    flex-direction: row;
  }

  header > div {
    max-width: 50%;
  }

  header p {
    width: 50%;
  }

  .track {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    gap: 10px;
  }

  .computer_ok {
    width: 50%;
    height: 400px;
  }

  .track div:nth-child(2),
  .track h3 {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 500px;
    gap: 10px;
  }
  .features {
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
  }
  .features > div {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icons {
    width: 100vw;
    display: flex;
    justify-content: space-around;
  }

  footer {
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
  }

  computer_ok_2 {
    width: 700px;
    height: 750px;
    background-size: contain;
  }
} 
*/
